
/* Подключаем шрифты */

@font-face {
font-family: 'TT Lakes Regular';
src:  url('../fonts/TTLakes-Regular.eot'),
      url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Regular.woff') format('woff'),
      url('../fonts/TTLakes-Regular.ttf') format('opentype');
font-weight: 400;
}

@font-face {
font-family: 'TT Lakes Medium';
src:  url('../fonts/TTLakes-Medium.eot');
src:  url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Medium.woff') format('woff'),
      url('../fonts/TTLakes-Medium.ttf') format('truetype');
font-weight: 500;
}

@font-face {
font-family: 'TT Lakes Bold';
src:  url('../fonts/TTLakes-Bold.eot');
src:  url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Bold.woff') format('woff'),
      url('../fonts/TTLakes-Bold.ttf') format('opentype');
font-weight: 700;
}


/* Сброс */

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

*:focus{
  opacity: 0.9;
}

a{
  text-decoration: none;
  cursor: pointer;
}

label{
  cursor: pointer;
}

body{
  width: 320px;
  font-family: 'TT Lakes Regular', serif;
  font-size: 16px;
}

li {
  list-style: none;
}

/* Стили для блоков */


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0;
}

.button{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.button:focus,
.button:hover{
  border: 1px solid #ccc;
  opacity: 0.8;
}

.button__menu {
  margin-left: 16px;
  background: #FF3E79 url('../img/icon/burger.svg') no-repeat center;
}

.center{
  height: 52px;
}

.logo--img{
  margin-bottom: 0;
}

.button--callback{
  display: none;
  margin-bottom: 0;
}

.button--info {
  position: relative;
  display: flex;
  padding-left: 20px;
}

.button--repair{
  background: url('../img/icon/repair.svg') no-repeat center;
  background-color: #FF3E79;
  margin-right: 16px;
}

.button--checkstatus{
  background:#FF3E79 url('../img/icon/checkstatus.svg') no-repeat center;
  margin-right: 16px;
}

.button--info::before {
  position: absolute;
  content: "";
  top: 8%;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
}

.button--callback {
  margin: 0 16px;
}

.main {
  border-top: 1px solid #D9FFF5;;
  background: #F8F8F8;
}

.main__title{
  position: relative;
}

.main__title h1{
  margin-top: 24px;
  padding-left: 14px;
  font-family: 'TT Lakes Bold';
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.main__title h1::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #41F6D7;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.main__info{
  display: none;
}

.nav{
  margin-top: 24px;
}

.nav__list{
  overflow: auto;
  display: flex;
  margin-left: 16px;
  -ms-overflow-style: auto;
  -webkit-overflow-scrolling: auto;
}

.nav--item{
  display: flex;
}

.nav__link{
  padding: 8px 13px;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  white-space: nowrap;
  border: 2px solid transparent;
}

.nav__link:hover,
.nav__link:active{
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.about {
  margin-top: 24px;
}

.about__wrap {
  margin-left: 16px;
  margin-bottom: 16px;
  height: 90px;
  overflow: hidden;
}

.about__text {
  font-family: 'TT Lakes Regular', serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.about__text:last-child{
  margin-top: 16px;
}

.about__img {
  margin-top: 16px;
  margin-bottom: 30px;
}


.button--readmore:hover,
.button--readmore:active{
  border-bottom: 2px solid #41F6D7;
  margin-bottom: -2px;
}

.button--about {
  margin-left: 8px;
  transform: translate(0px, -5px);
}

.button--hide,
.button--show{
  display: flex;
  align-items: center;
  align-self: flex-start;
  background: transparent;
  border: none;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}


/* прячем текст и двигаем кнопки с помощью js и классов*/
.height--overflow{
  height: 230px;
}

.button--overflow{
    transform: translate(0px, -10px);
}

/*  Меню  */

.mobile--menu {
  padding-top: 24px;
  padding-bottom: 32px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  color: #1B1C21;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
              16px 0px 52px rgba(14, 24, 80, 0.2);
}
.mobile--header {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.button--cancel {
  margin-right: 16px;
  background: #FF3E79 url('../img/icon/cancel.svg') no-repeat center;
}

.button--search {
  margin-left: 78px;
  background: #FF3E79 url('../img/icon/search.svg') no-repeat center;
}

.mobile--column{
  margin-top: 46px;
}

.mobile--column,
.column--menu {
  display: flex;
  flex-direction: column;
}

.column--menu .menu--link{
  position: relative;
  margin-left: 24px;
  margin-bottom: 32px;
  position: relative;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.column--menu .menu--link.active,
.column--menu .menu--link:hover,
.column--menu .menu--link:active,
.column--menu .menu--link:focus{
  margin-left: 0;
  padding-left: 22px;
  color: #7E7E82;
  border-left: 2px solid #41F6D7;
}

.column--menu .menu--link:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #000;
}

.mobile--contact {
  margin-top: 200px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.contact__callback{
  display: flex;
}

.button--call{
  background:#FF3E79 url('../img/icon/call.svg') no-repeat center;
  margin-right: 16px;
}

.button--chat{
  background:#FF3E79 url('../img/icon/chat.svg') no-repeat center;
  margin-right: 16px;
}
  
.button--profile{
  background:#FF3E79 url('../img/icon/profile.svg') no-repeat center;
  margin-right: 16px;
}

a.contact--mail{
  margin: 16px 0 12px 0;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

a.contact--tel{
  font-family: 'TT Lakes Bold';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.lang {
  display: flex;
  margin-top: 40px;
  margin-left: 24px;
}

.lang a{
  margin-right: 7px;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-transform: uppercase;
}

.lang a:last-child{
  margin-right: 0;
}

.lang a.active{
  color: #7E7E82;
}

/*  Сервис - бренды  */

.service {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #F8F8F8;
}
.service--title {
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  border-top: 1px solid #D9FFF5;
  background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.service--container{
    width: 100%;
}

.service--brand {
  width: 100%;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
}

.brand__link {
  margin: 16px 8px;
  padding: 16px 16px;
  width: 240px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background: #fff;
  transform: translate3d(0px, 0px, 0px); 
  transition: all 0ms ease 0s;
}

.brand__link:hover .brand__link--img{
  filter: grayscale(2) drop-shadow(10px 5px 2px #CCC);
}

.brand__link--info {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  border-radius: 50%;
}

.brand__link--info::before,
.brand__link--info::after{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 10px;
  width: 2px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background: #FF3E79;
}

.brand__link--info::before{
  transform: translateY(-2px) rotate(45deg);
}

.brand__link--info::after{
  transform: translateY(-8px) rotate(-45deg);
}

.button--brand{
  margin-left: 31px;
  margin-bottom: 34px;
  border: 2px solid transparent;
}

.button--brand:hover,
.button--brand:active{
  border-bottom: 2px solid #41F6D7;
}

.brand--button{
  display: none;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.button--hide .button--img{
  transform: rotate(180deg);
}

/* Слайдер */

.swiper-slide-active{
  margin-left: 16px;
  margin-right: 8px !important;
}

.swiper-pagination{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 16px;
  margin-bottom: 30px;
}


/* Другие размеры экранов */
@media screen and (min-width: 360px){
  body{
    width: 360px;
  }

  .about__img{
    width: 100%;
  }

  .button--about {
    transform: translate(0px, -20px);
  }

  .button--overflow{
    transform: translate(0px, -30px);
  }
}

@media screen and (min-width: 375px){
  body{
    width: 375px;
  }
}

@media screen and (min-width: 411px){
  body{
    width: 411px;
  }

  .button--about {
    transform: translate(0px, -25px);
  }

  .button--overflow{
    transform: translate(0px, -50px);
  }
}

@media screen and (min-width: 414px){
  body{
    width: 414px;
  }
}

@media screen and (min-width: 540px){
  body{
    width: 540px;
  }

  .height--overflow {
    height: 120px;
  }

  .button--about {
    transform: translate(0px, -10px);
  }

  .button--overflow{
    transform: translate(0px, 0px);
  }

  .about__img{
    width: 100%;
  }
}

@media screen and (min-width: 568px){
  body{
    width: 568px;
  }
}

@media screen and (min-width: 640px){
  body{
    width: 640px;
  }
}

@media screen and (min-width: 653px){
  body{
    width: 653px;
  }
}

@media screen and (min-width: 667px){
  body{
    width: 667px;
  }
}

@media screen and (min-width: 720px){
  body{
    width: 720px;
  }
}

@media screen and (min-width: 731px){
  body{
    width: 731px;
  }
}

@media screen and (min-width: 736px){
  body{
    width: 736px;
  }
}

@media screen and (min-width: 768px){
  body{
    width: 768px;
    color: #CCCCCC;
  }

  .button__menu{
    position: relative;
    margin-right: 20px;
  }

  .button__menu:after{
    position: absolute;
    content: "";
    top: 8%;
    right: -20px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
  }

  .center{
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo--img{
    margin-left: 20px;
  }

  .button--profile {
    margin-right: 0;
  }

  .button--callback{
    display: flex;
  }

  .button--info{
    display: flex;
  }

  .button--checkstatus{
    margin-right: 24px;
  }

  .main__title h1{
    padding-left: 22px;
  }

  .main__info{
    display: none;
  }

  .nav{
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .nav__list{
    margin-left: 24px;
    overflow: auto;
  }

  .about{
    margin-left: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-bottom: 55px;
  }

  .about__wrap{
    order: 1;
    width: 49%;
    padding: 0;
    height: 160px;
    margin: 0;
    padding-right: 50px;
  }

  .height--overflow{
    height: 250px;
  }

  .about__text{
    padding: 0;
    overflow: hidden;
    line-height: 20px;
  }

  .button--about{
    order: 3;
    margin-top: 10px;
    transform: translate(0px, -50px);
  }

  .button--overflow{
    transform: translate(0px, -30px);
  }

  .about__img{
    order: 2;
    margin: 0;
    width: 360px;
    height: 208px;
    background: #F8F8F8;
    border-radius: 6px;
  }

  /* Бранд */
  .service--brand{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-left: 24px;
    overflow: hidden;
  }

  .service--title{
    padding: 24px;
  }

  .overflow{
    height: 170px;
  }

  .brand__link{
    margin: 0;
    width: 224px;
    margin-left: 24px;
    margin-bottom: 16px;
  }

  .brand__link:nth-child(1),
  .brand__link:nth-child(4),
  .brand__link:nth-child(7),
  .brand__link:nth-child(10){
    margin-left: 0;
  }

  .pagination{
    display: none;
  }

  .brand--button{
    display: flex;
  }

}

@media screen and (min-width: 1024px){
  body{
    width: 1024px;
  }

  .about__wrap{
    width: 62%;
  }

  .brand__link:nth-child(4),
  .brand__link:nth-child(7),
  .brand__link:nth-child(10){
    margin-left: 24px;
  }

  .brand__link:nth-child(5),
  .brand__link:nth-child(9){
    margin-left: 0;
  }
}

@media screen and (min-width: 1120px){
  body{
    min-width: 1120px;
    margin: 0 auto;
  }

  .header{
    display: none;
  }

  .main{
    padding-top: 42px;
  }

  .main__text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main__title h1{
    margin: 0;
    padding-left: 30px;
    min-height: 40px;
  }

  .main__info{
    display: flex;
    align-items: center;
  }

  .main__info label{
    margin-right: 8px;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .main__info .button--repair,
  .main__info .button--checkstatus {
    margin-right: 32px;
  }

  .nav{
    margin-top: 8px;
    overflow-x: hidden;
  }

  .nav__list{
    margin-left: 32px;
    flex-wrap: wrap;
  }

  .nav__list::-webkit-scrollbar{
    width: 0;
    height: 0; 
  }

  .nav__link {
    padding: 8px 22px;
  }

  .about{
    width: 100%;
    margin-left: 34px;
    margin-right: 36px;
  }

  .about__wrap{
    width: 48.5%;
  }

  .button--about{
    transform: translate(0px, -150px);
  }

  .about__img{
    width: 530px;
    height: 307px;
  }

  /*  Сервис - бренды  */

.service {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #F8F8F8;
}
.service--title {
  padding: 16px 0px 16px 32px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  border-top: 1px solid #D9FFF5;
  background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.service--brand {
  margin: 24px 32px 24px 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.overflow{
  height: 160px;
  /* animation: overflow 2s ease-in; */
}

.brand__link {
  margin-left: 32px;
  margin-bottom: 16px;
  padding: 20px 16px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background: #fff;
}

.brand__link:first-child,
.brand__link:nth-child(5),
.brand__link:nth-child(9){
  margin-left: 0px;
}

.brand__link:nth-child(4),
.brand__link:nth-child(7),
.brand__link:nth-child(10){
  margin-left: 32px;
}

.brand__link:hover .brand__link--img{
  filter: grayscale(2) drop-shadow(10px 5px 2px #CCC);
}

.brand__link--info {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  border-radius: 50%;
}

.brand__link--info::before,
.brand__link--info::after{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 10px;
  width: 2px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background: #FF3E79;
}

.brand__link--info::before{
  transform: translateY(-2px) rotate(45deg);
}

.brand__link--info::after{
  transform: translateY(-8px) rotate(-45deg);
}

.show{
  display: block;
}

.hide{
  display: none;
}

  .button--hide .brand__button--img{
    transform: rotate(180deg);
  }

}