
/* Подключаем шрифты */

@font-face {
font-family: 'TT Lakes Regular';
src: url('fonts/TTLakes-Regular.eot');
src: url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/TTLakes-Regular.woff') format('woff'),
url('fonts/TTLakes-Regular.ttf') format('truetype');
font-weight: 400;
}

@font-face {
font-family: 'TT Lakes Medium';
src: url('fonts/TTLakes-Medium.eot');
src: url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
url('fonts/TTLakes-Medium.woff') format('woff'),
url('fonts/TTLakes-Medium.ttf') format('truetype');
font-weight: 500;
}

@font-face {
font-family: 'TT Lakes Bold';
src: url('fonts/TTLakes-Bold.eot');
src: url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
url('fonts/TTLakes-Bold.woff') format('woff'),
url('fonts/TTLakes-Bold.ttf') format('truetype');
font-weight: 700;
}


/* Сброс */

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

*:focus{
  border: 1px solid #ccc;
  opacity: 0.9;
}

a{
  text-decoration: none;
  cursor: pointer;
}

label{
  cursor: pointer;
}

body{
  min-width: 320px;
  font-family: 'TT Lakes Regular';
}

/* Стили для блоков */


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0;
}

.button{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.button:focus,
.button:hover{
  border: 1px solid #ccc;
  opacity: 0.8;
}

.button__menu {
  margin-left: 16px;
  background: #FF3E79 url('./img/burger.svg') no-repeat center;
}

.center{
  height: 52px;
}

.center__logo--img{
  margin-bottom: 0;
}

.center__callback{
  display: none;
  margin-bottom: 0;
}

.info {
  position: relative;
  display: flex;
  padding-left: 20px;
}

.info__repair{
  background:#FF3E79 url('./img/repair.svg') no-repeat center;
  margin-right: 16px;
}

.info__checkstatus{
  background:#FF3E79 url('./img/checkstatus.svg') no-repeat center;
  margin-right: 16px;
}

.info::before {
  position: absolute;
  content: "";
  top: 8%;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
}

.callback__info {
  margin: 0 16px;
}

.main {
  border-top: 1px solid #D9FFF5;;
  background: #F8F8F8;
}

.main__title{
  position: relative;
}

.main__title h1{
  margin: 24px 0;
  padding-left: 14px;
  font-family: 'TT Lakes Bold';
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.main__title h1::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #41F6D7;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.main__info{
  display: none;
}

.nav__list{
  display: flex;
  overflow-x: scroll;
  margin-left: 16px;
}

.nav__link{
  padding: 8px 13px;
  max-height: 40px;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  white-space: nowrap;
}

.nav__link:hover,
.nav__link:active{
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.about__wrap {
  margin-top: 24px;
  margin-left: 16px;
}
.about__text {
  margin-bottom: 16px;
  height: 90px;
  overflow: hidden;
  font-family: 'TT Lakes Regular', serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.about__button{
  display: flex;
  align-items: center;
}

.about__link:hover,
.about__link:active{
  border-bottom: 2px solid #41F6D7;
  margin-bottom: -2px;
}

.about__link {
  margin-left: 8px;
  font-family: 'TT Lakes Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}
.about__img {
  margin: 16px 0 35px;
}

/*  Меню  */

.mobile--menu {
  padding-top: 24px;
  padding-bottom: 32px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  color: #1B1C21;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
              16px 0px 52px rgba(14, 24, 80, 0.2);
}
.mobile--header {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.button--cancel {
  margin-right: 16px;
  background: #FF3E79 url('./img/cancel.svg') no-repeat center;
}
.logo {

}
.button--search {
  margin-left: 78px;
  background: #FF3E79 url('./img/search.svg') no-repeat center;
}

.mobile--column{
  margin-top: 46px;
}

.mobile--column,
.column--menu {
  display: flex;
  flex-direction: column;
}

.column--menu .menu--link{
  position: relative;
  margin-left: 24px;
  margin-bottom: 32px;
  position: relative;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.column--menu .menu--link.active,
.column--menu .menu--link:hover,
.column--menu .menu--link:active,
.column--menu .menu--link:focus{
  margin-left: 0;
  padding-left: 24px;
  color: #7E7E82;
  border-left: 2px solid #41F6D7;
}

.column--menu .menu--link:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #000;
}

.mobile--contact {
  margin-top: 200px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.contact__callback{
  display: flex;
}

.callback__call{
  background:#FF3E79 url('./img/call.svg') no-repeat center;
  margin-right: 16px;
}

.callback__chat{
  background:#FF3E79 url('./img/chat.svg') no-repeat center;
  margin-right: 16px;
}
  
.callback__profile{
  background:#FF3E79 url('./img/profile.svg') no-repeat center;
  margin-right: 16px;
}

a.contact--mail{
  margin: 16px 0 12px 0;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

a.contact--tel{
  font-family: 'TT Lakes Bold';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.lang {
  display: flex;
  margin-top: 40px;
  margin-left: 24px;
}

.lang a{
  margin-right: 7px;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-transform: uppercase;
}

.lang a:last-child{
  margin-right: 0;
}

.lang a.active{
  color: #7E7E82;
}

/* Другие размеры экранов */
@media screen and (min-width: 768px){
  body{
    color: #CCCCCC;
  }

  .button__menu{
    position: relative;
    margin-right: 20px;
  }

  .button__menu:after{
    position: absolute;
    content: "";
    top: 8%;
    right: -20px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
  }

  .center{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .center__logo--img{
    margin-left: 20px;
  }

  .center__callback{
    display: flex;
    margin-right: 20px;
  }

  .info{
    display: flex;
  }

  .info__checkstatus{
    margin-right: 24px;
  }

  .main__title h1{
    padding-left: 22px;
  }

  .main__info{
    display: none;
  }

  .nav__list{
    margin-left: 24px;
  }

  .nav__list::-webkit-scrollbar{
    width: 0; 
  }

  .about{
    margin-left: 24px;
    display: flex;
    margin-top: 5px;
    padding-bottom: 55px;
  }

  .about__wrap{
    width: 49%;
    padding: 0;
    margin: 0;
    padding-right: 50px;
  }

  .about__text{
    padding: 0;
    margin:  0 0 10px 0;
    height: 160px;
    overflow: hidden;
    line-height: 20px;
  }

  .about__img{
    margin: 0;
    width: 360px;
    height: 208px;
    background: #F8F8F8;
    border-radius: 6px;
  }
}

@media screen and (min-width: 1120px){
  body{
    width: 1120px;
    margin: 0 auto;
  }

  .header{
    display: none;
  }

  .main{
    padding-top: 42px;
  }

  .main__text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main__title h1{
    margin: 0;
    padding-left: 30px;
    min-height: 40px;
  }

  .main__info{
    display: flex;
    align-items: center;
  }

  .main__info label{
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .main__info--repair{
    background:#FF3E79 url('./img/repair.svg') no-repeat center;
    margin-left: 8px;
    margin-right: 32px;
  }

  .main__info--checkstatus{
    background:#FF3E79 url('./img/checkstatus.svg') no-repeat center;
    margin-left: 8px;
    margin-right: 32px;
  }

  .nav__list{
    margin-top: 8px;
    margin-left: 32px;
    width: 100%;
    flex-wrap: wrap;
    overflow: auto;
  }

  .nav__link{
    padding: 8px 22px;
  }

  .about{
    margin-left: 34px;
    margin-right: 36px;
  }

  .about_wrap{
    width: 55%;
    margin-left: 32px;
  }

  .about__text{
    height: 160px;
  }

  .about__img{
    width: 530px;
    height: 307px;
  }

  
}