
/* Подключаем шрифты */

@font-face {
font-family: 'TT Lakes Regular';
src: url('fonts/TTLakes-Regular.eot');
src: url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/TTLakes-Regular.woff') format('woff'),
url('fonts/TTLakes-Regular.ttf') format('truetype');
font-weight: 400;
}

@font-face {
font-family: 'TT Lakes Medium';
src: url('fonts/TTLakes-Medium.eot');
src: url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
url('fonts/TTLakes-Medium.woff') format('woff'),
url('fonts/TTLakes-Medium.ttf') format('truetype');
font-weight: 500;
}

@font-face {
font-family: 'TT Lakes Bold';
src: url('fonts/TTLakes-Bold.eot');
src: url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
url('fonts/TTLakes-Bold.woff') format('woff'),
url('fonts/TTLakes-Bold.ttf') format('truetype');
font-weight: 700;
}


/* Сброс */

*,
*:hover,
*:focus{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body{
  font-family: 'TT Lakes Regular';
}

/* Стили для блоков */

h1{
  font-family: 'TT Lakes Bold';
}