.service--container{
  height: 200px;
  overflow: hidden;
}

.service__link{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 32px;
  margin-bottom: 24px;
  padding: 16px;
  width: 15rem;
  height: 10rem;
  border: 1px solid $borderColor;
  border-radius: 6px;
  background: $blockColor;
}

.service__link:first-child,
.service__link:nth-child(5){
  margin-left: 0;
}

.service--subtitle {
  font-family:$fontMedium;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: $textColor;
}

.service--subtitle::first-letter{
  text-transform: uppercase;
}

.link--item {
  align-self: flex-end;
}