*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 14px;
  font-family: "Barlow", sans-serif;
  background: #eff6ff;
  color: #2a4a5c;
}

.wrapper {
  max-width: 1600px;
  padding: 0 5.7em;
  margin: 0 auto;
  display: flex;
}

.bg {
  width: 100%;
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg svg {
  height: 2.2em;
  margin: 2.8em 0 0 3.6em;
}

.main {
  width: 90%;
  background: #ffffff;
}

.wrap {
  margin-left: 5.35em;
  margin-top: 7.85em;
}

.title {
  font-weight: 500;
}

.text {
  margin-top: 0.8em;
  margin-bottom: 2.8em;
  font-size: 1.4em;
  color: #7b8a92;
  font-weight: 500;
}

.btn {
  display: flex;
  margin-bottom: 3.5em;
}

button {
  margin-right: 2.85em;
  display: flex;
  align-items: center;
  width: 17.75em;
  height: 3.3em;
  font-size: 0.98em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn img {
  width: 1.3em;
  height: 1.4em;
  margin-left: 1em;
  margin-bottom: 0.15em;
}

.btn__facebook {
  background-color: #255a9b;
}

.btn__linkedin {
  background-color: #0076b6;
}

.btn img:hover,
.btn__facebook:hover,
.btn__linkedin:hover {
  background: #2a4a5c;
  color: #eff6ff;
  box-shadow: 0px 3px 5px 1px rgba(55, 55, 55, 0.8);
}

.btn p {
  margin-left: 1.4em;
}

.separator {
  width: 37em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5em;
}

.separator__line {
  width: 15%;
  height: 1px;
  background: #eeeeee;
}

.separator__text {
  margin: 0 1em;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
}

input[type="email"],
input[type="tel"] {
  width: 14.8em;
  height: 3.4em;
  padding: 1.3em 0.6em 0px;
  font-size: 1.2em;
  border: 1px solid #eeeeee;
  color: #2a4a5c;
  background: #ffffff;
}

input[type="email"] {
  margin-right: 2.1em;
}

input:focus,
input:hover {
  border-left: 1px solid #3698fb;
}

form {
  display: flex;
  flex-wrap: wrap;
  
}

.form__text {
  position: relative;
}

.text__email,
.text__phone {
  position: absolute;
  top: 4.5px;
  left: 10px;
  font-size: 1em;
  font-weight: 450;
  color: #96a5b1;
}

.form__title{
  margin-top: 4.1em;
}

.radio__title {
  margin-bottom: 0.6em;
  font-weight: 500;
}

.radio__text {
  margin-bottom: 3.5em;
  margin-right: 1.8em;
  font-weight: 500;
  color: #7b8a92;
}

.form__radio {
  display: flex;
  align-items: center;
  margin-bottom: 1.8em;
  cursor: pointer;
}

.radio__label {
  display: flex;
  align-items: center;
  margin-right: 3.5em;
}

.radio__input{
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio__box{
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  padding-left: -1.6em;
  background-color:transparent;
  border: 2px solid #EEEEEE;
  border-radius: 50%;
}

.radio__input:checked + .radio__box {
  border: 3px solid #3698FB;
}

.radio__text--info {
  padding-left: 1.6em;
  font-weight: 600;
  font-size: 1.1em;
}

.info {
  margin-left: 0.6em;
  padding: 0px 0.6em 0.1em 0.3em;
  border: 1px solid #96a5b1;
  font-size: 0.5em;
  border-radius: 50%;
  color: #96a5b1;
  cursor: pointer;
}

.info__text {
  width: 20em;
  padding: 0.7em 1.2em;
  margin-bottom: 3.8em;
  font-size: 0.94em;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  color: #96a5b1;
  box-shadow: 0px 5px 20px 4px rgba(200, 200, 200, 0.3);
}

.checked{
  display: flex;
  align-items: center;
}

.agree {
  margin-left: 1em;
  color: #96a5b1;
  cursor: pointer;
}

.btn__submit {
  margin-top: 4.2em;
  margin-bottom: 4.2em;
  padding: 1em 6em;
  background: #3698fb;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
  text-align: center;
}

.btn__submit:hover{
  background: #2a4a5c;
  color: #eff6ff;
  box-shadow: 0px 3px 5px 1px rgba(55, 55, 55, 0.8);
  border: none;
}

@media (max-width: 1200px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .wrapper {
    display: block;
    padding: 0;
  }

  .bg {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
  }



  .main {
    width: 100%;
    margin: 0 auto;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 2em;
  }

  .btn{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  button{
    margin-right: 0;
  }

  .separator{
    width: 80%;
  }

  .form__title{
    width: 100%;
  }

  .from{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  input[type="email"]{
    margin-right: 1em;
  }

  input[type="email"], 
  input[type="tel"]{
    width: 100%;
  }
}

@media (max-width: 640px) {
  .btn{
    flex-wrap: wrap;
  }

  .btn__facebook,
  .btn__linkedin{
    margin-bottom: 1em;
  }

  .form__radio {
    display: block;
  }

  .form__text{
    width: 100%;
    margin-bottom: 1em;
  }
}

@media (max-width: 460px) {
  body {
    font-size: 11px;
  }
}

@media (max-width: 330px) {
  body {
    font-size: 10px;
  }

  .wrapper {
    min-width: 320px;
  }

  .checked{
    margin-left: 1em;
  }
}

