// Переменные шрифтов
$fontRegular: 'TT Lakes Regular', serif;
$fontMedium: 'TT Lakes Medium', serif;
$fontBold: 'TT Lakes Bold', serif;
$fontSize: 16px;
$lineHeight: 24px;

// Переменные цвета
$bgColor: #F8F8F8;
$menuSideBarColor: #F2F2F2;
$lineColor: #41F6D7;
$textColor: #1B1C21;
$linkColor: #7E7E82;
$buttonColor: #FF3E79;
$borderColor: #EAEAEA;
$modalInputColor: #B5B6BC;
$blockColor: #FFFFFF;
$modalBoxShadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
                  16px 0px 52px rgba(14, 24, 80, 0.2);
$menuBoxShadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
$bottomMenuShadow: 1px solid #D9FFF5;

// Размеры
$mobileWidth: 320px;
$mobileSecondWidth: 360px;
$iphoneWidth: 375px;
$tabletWidth: 768px;
$tabletSecondWidth: 1120px;
$hdWidth: 1366px;
$maxWidth: 1440px;